{% extends 'base.html' %}

{% load static %}

{% block base %}

{% comment %} <!-- page-header -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="">Password Reset</a></li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- /.page-header--> {% endcomment %}
<!-- login-form -->

<center><div class="content" style="margin-top: 100px; height: 700px; width: 500px;">
    <div class="container">
        <div class="box sing-form">
            <div class="row">
                <div class="col">
                    <!-- form -->
                    <div class="box-body">
                        <h3>Password Reset</h3>
                    </div>
                    <!-- Message Display -->
                    {% for message in messages %}
                    <div class="container-fluid p-0">
                        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    </div>
                    {% endfor %}
                    <form method="POST">
                        {% csrf_token %}

                        {% for fm in form %}
                        <div class="form-access">
                            <div class="form-group">
                                {{fm}}<small class="text-danger">{{fm.errors|striptags}}</small>
                            </div>
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary btn-block mb10">Login</button>
                    </form>
                </div>
                <!-- /.form -->
                <!-- features -->
                <!-- <div class="col-8">
                    <div class="box-body" style="margin-left: 20px;">
                        
                        <div class="feature-left">
                            <div class="feature-icon">
                                <img src="{% static 'images/feature_icon_1.png' %}" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>Loyalty Points</h4>
                                <p>Aenean lacinia dictum risvitae pulvinar disamer seronorem ipusm dolor sit manert.</p>
                            </div>
                        </div>
                        <div class="feature-left">
                            <div class="feature-icon">
                                <img src="{% static 'images/feature_icon_2.png' %}" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>Instant Checkout</h4>
                                <p>Aenean lacinia dictum risvitae pulvinar disamer seronorem ipusm dolor sit manert.</p>
                            </div>
                        </div>
                        <div class="feature-left">
                            <div class="feature-icon">
                                <img src="{% static 'images/feature_icon_3.png' %}" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>Exculsive Offers</h4>
                                <p>Aenean lacinia dictum risvitae pulvinar disamer seronorem ipusm dolor sit manert.</p>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- /.features -->
            </div>
        </div>
    </div>
</div></center>
<!-- /.login-form -->

{% endblock base %}