{% extends 'base.html' %}
{% load static %}

{% block base %}
{% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
        </div>
        {% endfor %}
    <!-- Breadcrumbs Start -->
    <div class="rs-breadcrumbs img3" style="background: url(static/assets/images/breadcrumbs/3.jpg); background-position: center; background-repeat: no-repeat; background-size: cover;">
        <div class="breadcrumbs-inner text-center">
            <h1 class="page-title">Python Project</h1>
            <ul>
                <li title="JhTechnoweb - IT Solutions and Technology">
                    <a class="active" href="{% url 'home' %}">Home</a>
                </li>
                <li>Python Project</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumbs End -->

    <!-- Project Section Start -->
    <div class="rs-project style5 pt-120 pb-120 md-pt-80 md-pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{% static 'assets/images/project/main-home/1.jpg' %}" alt="images">
                        </div>
                        <div class="project-content">
                            <div class="p-icon"><a href="case-studies-single.html"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="project-inner">
                                <h3 class="title"><a href="case-studies-single.html">IT Technology</a></h3>
                                <span class="category"><a href="case-studies-single.html">Product Engineering</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{% static 'assets/images/project/main-home/2.jpg' %}" alt="images">
                        </div>
                        <div class="project-content">
                            <div class="p-icon"><a href="case-studies-single.html"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="project-inner">
                                <h3 class="title"><a href="case-studies-single.html">IT Technology</a></h3>
                                <span class="category"><a href="case-studies-single.html">Analytic Solutions</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 mb-30">
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{% static 'assets/images/project/main-home/3.jpg' %}" alt="images">
                        </div>
                        <div class="project-content">
                            <div class="p-icon"><a href="case-studies-single.html"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="project-inner">
                                <h3 class="title"><a href="case-studies-single.html">IT Technology</a></h3>
                                <span class="category"><a href="case-studies-single.html">Product Design</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 sm-mb-25">
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{% static 'assets/images/project/main-home/4.jpg' %}" alt="images">
                        </div>
                        <div class="project-content">
                            <div class="p-icon"><a href="case-studies-single.html"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="project-inner">
                                <h3 class="title"><a href="case-studies-single.html">IT Technology</a></h3>
                                <span class="category"><a href="case-studies-single.html">Growth Strategies</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 sm-mb-25">
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{% static 'assets/images/project/main-home/5.jpg' %}" alt="images">
                        </div>
                        <div class="project-content">
                            <div class="p-icon"><a href="case-studies-single.html"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="project-inner">
                                <h3 class="title"><a href="case-studies-single.html">It Technology</a></h3>
                                <span class="category"><a href="case-studies-single.html">Platform
                                        Integration</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="project-item">
                        <div class="project-img">
                            <img src="{% static 'assets/images/project/main-home/6.jpg' %}" alt="images">
                        </div>
                        <div class="project-content">
                            <div class="p-icon"><a href="case-studies-single.html"><i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="project-inner">
                                <h3 class="title"><a href="case-studies-single.html">It Technology</a></h3>
                                <span class="category"><a href="case-studies-single.html">Innovative
                                        Interfaces</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Section End -->

</div>
<!-- Main content End -->
    
{% endblock base %}
    